.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://vignette.wikia.nocookie.net/ideas/images/e/e4/Movie_night.jpg');
    background-size: cover;
}