<!--

<p>
  ui-test-card works!
</p>
<button mat-mini-fab color="primary">Primary</button>

<h3>Raised Buttons</h3>
<div class="button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button routerLink=".">Link</a>
</div>



<mat-checkbox>Check me!</mat-checkbox><br><br>
<button mat-raised-button>Click me!</button>

<hr>
<i class="material-icons">
  accessibility_new
</i>
<i class="material-icons md-18">
  accessibility_new
</i>
<i class="material-icons md-24">
  accessibility_new
</i>
<i class="material-icons md-36">
  accessibility_new
</i>
<i class="material-icons md-48">
  accessibility_new
</i>

<hr>
<i class="material-icons">
  tag_faces
</i>
<i class="material-icons md-dark">
  tag_faces
</i>
<i class="material-icons md-dark md-inactive">
  tag_faces
</i>
<div class="dark-background">
  <i class="material-icons md-light">
    tag_faces
  </i>
  <i class="material-icons md-light md-inactive">
    tag_faces
  </i>
</div>
<i class="material-icons orange600">
  tag_faces
</i>

<hr>-->
<!-- start/center/end/space-around/space-between/space-evenly -->
<!--<div class="my-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="my-box">20</div>
  <div class="my-box">10</div>
  <div class="my-box">30</div>
  <div class="my-box">---</div>
</div>

<hr>
<div class="my-container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="my-box" fxFlex="20">20</div>
  <div class="my-box" fxFlex="10">10</div>
  <div class="my-box" fxFlex="30">30</div>
  <div class="my-box" fxFlex>---</div>
</div>




<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<i class="material-icons">account_circle</i>

<i class="material-icons">thumb_up</i>-->




<!--SAAS-->

<div class="test-saas">
  <h1>This is the title</h1>
  <p class="description">This is the <span>description</span>.</p>
  <span>This is a normal text</span>
</div>



